<div class="registration">
    <div class="registration-inner">
        <form class="registration-form" name="loginForm" action="#" method="post" novalidate>
            <div class="form-row">
                <input type="text" class="form-input form-input-name" name="name" autocomplete="off" placeholder="Name" ng-model="$ctrl.loginUser.name" ng-required="true">
                <span class="validation-status"></span>
                <div class="underline">
                    <div class="underline-inner"></div>
                </div>
            </div>
            <div class="form-row">
                <input type="text" class="form-input form-input-email" name="email" autocomplete="off" placeholder="Email" ng-model="$ctrl.loginUser.email" ng-required="true" ng-pattern="/[\w\d\-]{2,25}@\w{2,10}\.\w{2,7}/">
                <span class="validation-status"></span>
                <div class="underline">
                    <div class="underline-inner"></div>
                </div>
            </div>
            <div class="form-row clearfix">
                <input type="submit" class="form-submit login" value="Log in" ng-disabled="loginForm.$invalid" ng-click="$ctrl.switchToInterface($event)">
            </div>
        </form>
    </div>
</div>

<div class="admin-panel">

    <div class="admin-panel-inner">
        <div class="user-card">

            <div class="user-picture">
                <img src="https://orig00.deviantart.net/5a8a/f/2013/143/9/1/pusheen_the_cat_png_15_by_13taylorswiftlover13-d66chev.png" class="user-image" alt="User">
            </div>
            <div class="user-info clearfix">
                <p class="user-name"> <span class="name-output"> </span> </p>
                <p class="user-email"> <strong class="mr-1">Email: </strong> <span class="email-output">  </span> </p>
                <p class="user-credits"> <strong class="mr-1"> Credits: </strong> <span class="credits-output"> </span> </p>
                <div class="add-credits" ng-click="$ctrl.addCredits($event)"> Add Credits</div>
            </div>

        </div>
    </div>
</div>

<div class="orders-panel">
    <div class="orders-panel-inner">
        <div class="orders-top">
            <h2 class="order-heading"> My orders</h2>
            <div class="add-new-order" ng-click="$ctrl.toggleMenu()"> Add </div>
        </div>
        <div class="orders-main"></div>
    </div>
</div>

<div class="menu">
    <div class="menu-inner">
        <h2 class="menu-heading"> Menu </h2>

    </div>
</div>